<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      {% if session.logged_in == (session['level']==1) %}
      area mahasiswa
      <li class=" nav-item"><a href="/dashboard"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main"> Dashboard</span></a></li>
      <li class=" nav-item"><a href="/status"><i class="la la-television"></i><span class="menu-title" data-i18n=""> Proposal</span></a>
        <ul class="dropdown">
          <li class="dropdown-item"><a href="/status">Bimbingan Proposal</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href=""><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n=""> Skripsi</span></a></li>
      {% elif session.logged_in == (session['level']==3) %}
      area admin
      <li class=" nav-item"><a href=""><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n=""> Data Pengajuan</span></a>
        <ul class="dropdown">
          <li class="dropdown-item"><a href="">Data Pengajuan Seminar Proposal</a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href=""><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n=""> Data Dosen</span></a>
        <ul class="dropdown">
          <li class="dropdown-item"><a href="/dashboard_admin">Data Dosen</a></li>
          <li class="dropdown-item"><a href="/add_data_dosen">Entry Data Dosen</a></li>
        </ul>
      </li>
      {% else %}
      area dosen
      <li class=" nav-item"><a href=""><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n=""> Data Tugas Akhir</span></a>
        <ul class="dropdown">
          <li class="dropdown-item"><a href="/dashboard_dosbim">Proposal</a></li>
          <li class="dropdown-item"><a href="">Skripsi</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a href="/logout"><i class="la la-comments"></i><span class="menu-title" data-i18n=""> Log Out</span></a></li>
    </ul>
  </div>
</div>
