{% extends 'layout.html' %}
{% block body %}
{% include 'includes/_messages.html' %}
<div id="recent-sales" class="col-4 col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Bimbingan Proposal</h4>
      <hr>
      Nama :
      | NIK :
      | Dosen Pembimbing :
      <div class="card-content mt-1">
        <center>
          <h3 class="card-title">Presentase Bimbingan</h3>
        </center>
        <div class="">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="">
        <!-- Button trigger modal -->
        <button type="button" class="btn round btn-danger mr-1 btn-glow" data-toggle="modal" data-target="#exampleModalLong">
          Mulai Bimbingan
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Catatan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- area bimbingan -->
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Mahasiswa</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Dosen</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Catatan</label>
                    <textarea id="sinopsis" name="sinopsis" required=""></textarea>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <div class="">
                        <label class="form-check-label" for="gridCheck">
                          Lampiran
                        </label>
                      </div>
                      <input class="btn btn-danger" type="file" id="gridCheck">
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn round btn-secondary mr-1 btn-glow" data-dismiss="modal">Keluar</button>
                <button type="button" class="btn round btn-primary mr-1 btn-glow">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
