{% extends 'layout.html' %}
{% block body %}
<div class="table-responsive">
  <table class="table-bordered table-sm">
    <thead>
      <tr>
        <th sclass="border-top-0">NIK</th>
        <th class="border-top-0">Judul Tugas Akhir</th>
        <th class="border-top-0">Dosen Pembimbing</th>
        <th class="border-top-0">Status</th>
        <th class="border-top-0"></th>
        <th class="border-top-0">Action</th>
        <th class="border-top-0"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td class="text-truncate">{{item.1}}</td>
        <td class="text-truncate">{{item.2}}</td>
        <td class="text-truncate">{{item.3}}</td>
        <td class="text-truncate">{{item.6}}</td>
        <td class="text-truncate"><a href="/tanya/{{item.0}}"><button type="submit" class="btn round btn-primary mr-1 btn-glow">Ajukan Pertanyaan <i class="ft-plus"></i></button></a></td>
        <!-- <td class="text-truncate"><a href="/approve"><button type="submit" class="btn round btn-success mr-1 btn-glow">Approve <i class="ft-plus"></i></button></a></td> -->
        <td class="text-truncate">
          <form action="{{url_for('approve',id=item.0)}}" method="post">
            <input type="hidden" name="_method" value="APPROVE">
            <input type="submit" value="approve" class="btn round btn-success mr-1 btn-glow">
          </form>
        </td>
        <td class="text-truncate">
          <form action="{{url_for('decline',id=item.0)}}" method="post">
            <input type="hidden" name="_method" value="DECLINE">
            <input type="submit" value="decline" class="btn round btn-danger mr-1 btn-glow">
          </form>
        </td>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
